// fonts
$primary-font:'Roboto', sans-serif;
$check-option-font-family:'Amatic SC', cursive;
$check-option-font-size: 36px;
$find-font-size: 16px;
$find-font-color: #fff;
$controller-title-size: 28px;
$controller-title-font-family: Times New Roman, serif;

//sizes
$width: 1140px;
$radiosize: 30px;
$checkboxsize: 25px;

// colors
$white: #fff;
$dark: #3b3b3b;
$black: #000;
$controller: #3A3B3C;

//border-radius
$border-radius-main: 10px;